<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Current second: <%= seconds %>
  </p>
  <% if (items.length> 0) { %>

    <ul>
      <% items.forEach(element=> { %>
        <li>
          <%= element %>
        </li>
        <% }) %>
    </ul>

    <% } else { %>
      <p>No items to display</p>
      <% } %>
        <p><%- htmlContent %></p>
</body>

<%- include("partials/footer.ejs") %>

</html>